#
# Probe device configuration
#

config GRIF_NET
	tristate "Probe FPGA-based NIC for Grif platform support"
        depends on GRIF_FPGA_MGR
	select PHYLINK
	help
	  This enables the support for the Probe FPGA-based NIC for Grif platform.
