/*
 * Copyright Altera Corporation (C) 2012,2014. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms and conditions of the GNU General Public License,
 * version 2, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program.  If not, see <http://www.gnu.org/licenses/>.
 */

#include "socfpga_cyclone5_stcmtk.dtsi"

/ {
	model = "M716 Ethernet tester/analyzer";

	cpu-gpio {
		compatible = "linux,gpio-exporter";
		status = "okay";
		exported-gpios = <&portb 15 GPIO_ACTIVE_HIGH>,
			<&portb 8 GPIO_ACTIVE_HIGH>,
			<&portb 23 GPIO_ACTIVE_HIGH>,
			<&portb 19 GPIO_ACTIVE_HIGH>,
			<&portc 7 GPIO_ACTIVE_HIGH>;
		exported-gpio-names = "bypass",
			"button",
			"power-fault",
			"poe-present",
			"devinfo-eeprom-write-protect";
		exported-gpio-directions = "out",
			"in",
			"in",
			"in",
			"high";
	};

	leds {
		compatible = "gpio-leds";

		power_led {
			label = "power-led";
			linux,default-trigger = "heartbeat";
			gpios = <&porta 9 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
	};

	soc {
		ethernet@ff702000 {
			phy-mode = "rgmii-id";
		};

		i2c0: i2c@ffc04000 {
			scl-gpios = <&portb 27 GPIO_ACTIVE_HIGH>;
			sda-gpios = <&portb 26 GPIO_ACTIVE_HIGH>;

			eeprom@50 {
				compatible = "at,24c02";
				reg = <0x50>;
				status = "okay";
			};

			adc@48 {
				compatible = "ti,ads7830";
				reg = <0x48>;
				status = "okay";
			};
		};

		i2c1: i2c@ffc05000 {
			status = "disabled";
		};

		etn-port0 {
			compatible = "stcmtk,etln-1g";
			target-fpga = <&fpga>;
			port-num = <0>;
			phy-handle = <&mv_phy0>;
			phy-mode = "rgmii-id";
			mac-address = [ 00 21 CE 01 00 01];
		};

		etn-port1 {
			compatible = "stcmtk,etln-1g";
			target-fpga = <&fpga>;
			port-num = <1>;
			phy-handle = <&mv_phy1>;
			phy-mode = "rgmii-id";
			mac-address = [ 00 21 CE 01 00 02];
		};

		etn-fan {
			compatible = "etn,fan";
			target-fpga = <&fpga>;
		};

		etn-rate-limiter0 {
			compatible = "etn,rate-limiter";
			target-fpga = <&fpga>;
			port-num = <0>;
		};
		etn-rate-limiter1 {
			compatible = "etn,rate-limiter";
			target-fpga = <&fpga>;
			port-num = <1>;
		};

};


	mdio-0 {
		compatible = "stcmtk,et-1g-mdio";
		target-fpga = <&fpga>;
		#address-cells = <1>;
		#size-cells = <0>;
		mdio-num = <0>;
		status = "okay";

		mv_phy0: 88E1512@0 {
			reg = <0x0>;
		};
	};

	mdio-1 {
		compatible = "stcmtk,et-1g-mdio";
		target-fpga = <&fpga>;
		#address-cells = <1>;
		#size-cells = <0>;
		mdio-num = <1>;
		status = "okay";

		mv_phy1: 88E1512@0 {
			reg = <0x0>;
		};
	};
};
