/*
 * Copyright Altera Corporation (C) 2012,2014. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms and conditions of the GNU General Public License,
 * version 2, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program.  If not, see <http://www.gnu.org/licenses/>.
 */

#include "socfpga_cyclone5_stcmtk.dtsi"

/ {
	model = "ETLN 2.0 Ethernet tester/analyzer";

	host-gpio {
		compatible = "linux,gpio-exporter";
		status = "okay";
		exported-gpios = <&portb 15 GPIO_ACTIVE_HIGH>,
			<&portb 23 GPIO_ACTIVE_HIGH>,
			<&portb 19 GPIO_ACTIVE_HIGH>,
			<&portc 7 GPIO_ACTIVE_HIGH>;
		exported-gpio-names = "bypass",
			"power-fault",
			"poe-present",
			"devinfo-eeprom-write-protect";
		exported-gpio-directions = "low",
			"in",
			"in",
			"high";
	};

	leds {
		compatible = "gpio-leds";

		power_led {
			label = "power-led";
			linux,default-trigger = "default-on";
			gpios = <&porta 9 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
	};

        gpio-keys {
                compatible = "gpio-keys";
                pinctrl-names = "default";

                user_button {
                        label = "user_button";
                        gpios = <&portb 8 0>;
                        debounce-interval = <10>;
                        linux,code = <KEY_ENTER>;
                };
        };

	fpga_gpio0: fpga-gpio0 {
		compatible = "stcmtk,soc-gpio-expander";
		target-fpga = <&fpga>;
		port-num = <0>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-line-names = "optic-link";
	};

	fpga_gpio1: fpga-gpio1 {
		compatible = "stcmtk,soc-gpio-expander";
		target-fpga = <&fpga>;
		port-num = <1>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-line-names = "optic-link";
	};

	soc {
		ethernet@ff702000 {
			phy-mode = "rgmii-id";
		};

		uart1: serial1@ffc03000 {
			status = "disabled";
		};

		i2c0: i2c@ffc04000 {
			scl-gpios = <&portb 27 GPIO_ACTIVE_HIGH>;
			sda-gpios = <&portb 26 GPIO_ACTIVE_HIGH>;

			eeprom@53 {
				compatible = "at,24c02";
				reg = <0x53>;
				status = "okay";
			};

			adc@48 {
				compatible = "ti,ads7830";
				reg = <0x48>;
				status = "okay";
			};

			i2c-switch@70 {
				compatible = "nxp,pca9544";
				#address-cells = <0x1>;
				#size-cells = <0x0>;
				reg = <0x70>;
				i2c-mux-idle-disconnect;

				/* The following two nodes describe I2C busses
				* located behind the MUX on channels 0 and 1
				* (indexed from 0).
				*/
				sfp_mux_chan_0: i2c@0 {
					#address-cells = <0x1>;
					#size-cells = <0x0>;
					reg = <0>;
				};

				sfp_mux_chan_1: i2c@1 {
					#address-cells = <0x1>;
					#size-cells = <0x0>;
					reg = <1>;
				};

				/* The following two nodes describe I2C mux
				* channels 2 and 3 (indexed from 0) that have
				* no devices connected to them.
				*
				* It would be great to disable them at all so
				* that they would not appear in sysfs but we
				* couldn't find an easy and obvious way to
				* achieve this.
				*/
				sfp_mux_chan_2: i2c@2 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <2>;
				};
				sfp_mux_chan_3: i2c@3 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <3>;
				};
			};

			expander: pca9535@20 {
				compatible = "nxp,pca9535";
				gpio-controller;
				#gpio-cells = <2>;
				reg = <0x20>;
				pinctrl-names = "default";
				/*
				interrupt-parent = <&portb>;
				interrupts = <23 IRQ_TYPE_LEVEL_LOW>;
				interrupt-controller;
				#interrupt-cells = <2>;
				*/
			};

		};

		i2c1: i2c@ffc05000 {
			status = "disabled";
		};

		etn-port0 {
			compatible = "stcmtk,etln-1g";
			target-fpga = <&fpga>;
			port-num = <0>;
			phy-handle = <&mv_ch0>;
			phy-mode = "1000base-x";
			mac-address = [ 00 21 CE 01 00 02 ];
			link-led-gpios = <&fpga_gpio0 0 GPIO_ACTIVE_HIGH>;
		};
		etn-port1 {
			compatible = "stcmtk,etln-1g";
			target-fpga = <&fpga>;
			port-num = <1>;
			phy-handle = <&mv_ch1>;
			phy-mode = "1000base-x";
			mac-address = [ 00 21 CE 01 00 03 ];
			link-led-gpios = <&fpga_gpio1 0 GPIO_ACTIVE_HIGH>;
		};

	};

	sfp_eth0: sfp-eth0 {
		compatible = "sff,sfp";
		i2c-bus = <&sfp_mux_chan_0>;
		pinctrl-names = "default";
		mod-def0-gpios = <&expander 2 GPIO_ACTIVE_LOW>;
		tx-disable-gpios = <&expander 1 GPIO_ACTIVE_HIGH>;
		tx-fault-gpios  = <&expander 0 GPIO_ACTIVE_HIGH>;
		los-gpios = <&expander 4 GPIO_ACTIVE_HIGH>;
	};

	sfp_eth1: sfp-eth1 {
		compatible = "sff,sfp";
		i2c-bus = <&sfp_mux_chan_1>;
		pinctrl-names = "default";
		mod-def0-gpios = <&expander 10 GPIO_ACTIVE_LOW>;
		tx-disable-gpios = <&expander 9 GPIO_ACTIVE_HIGH>;
		tx-fault-gpios  = <&expander 8 GPIO_ACTIVE_HIGH>;
		los-gpios = <&expander 12 GPIO_ACTIVE_HIGH>;
	};

	mdio0: mdio-0 {
		compatible = "stcmtk,et-1g-mdio";
		target-fpga = <&fpga>;
		#address-cells = <1>;
		#size-cells = <0>;
		mdio-num = <0>;
		status = "okay";

		mv_ch0:88X2222@0 {
			compatible =  /*"marvell,88x1512",*/ "ethernet-phy-ieee802.3-c22";
			reg = <0x0>;
			phy-mode = "1000base-x";
			sfp = <&sfp_eth0>;
			status = "okay";
		};
	};
	mdio1: mdio-1 {
		compatible = "stcmtk,et-1g-mdio";
		target-fpga = <&fpga>;
		#address-cells = <1>;
		#size-cells = <0>;
		mdio-num = <1>;
		status = "okay";

		mv_ch1:88X2222@0 {
			compatible =  /*"marvell,88x1512",*/ "ethernet-phy-ieee802.3-c22";
			reg = <0x0>;
			phy-mode = "1000base-x";
			sfp = <&sfp_eth1>;
			status = "okay";
		};
	};

};
